textarea {
    min-height: 400px;
}

.mail{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    border: 1px solid #ccc;
    margin: 1px;
    padding: 10px;
}

.mail:hover{
    background: lightblue;
}


.sender{
    font-weight: bold;
}

.timestamp{
    color: gray;
}

.sender, .subject, .timestamp{
    width: fit-content;
}

.timestamp{
    margin-right: 10px;
    margin-left: auto;
}

#emails-read{
    padding: 20px;
}

#emails-read #body{
    padding: 20px;
    min-height: 500px;
}

#emails-read #body #text{
    font-size: large;
}